    
    /* FOOTER */
    
    * {
    margin: 0;
    padding: 0;
    }

    footer {
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        border:solid 3px red;
        width: 100%;
    }

    footer .container {
        border:solid 3px blue;
        width: 50px;
    }

    footer .about-us {
        border:solid 3px blueviolet;
        width: 50px;
    }

    footer .social-media {
        border:solid 3px pink;
        width: 50px;
    }

    footer .copyright {
        border:solid 3px green;
        width: 50px;
    }





