    
    /* FOOTER */

    footer {
        /* border:solid 3px yellow ; */
        width: auto;
        padding: 2rem;
        color: grey;

    }

    footer a {
        text-decoration: none;
        list-style: none;
        color: grey;
    }
    
    footer h4 {
        font-size: 1.2rem;
        padding-bottom: 1.5rem;
        color: darkslategray;
    }

    footer p {
        font-size: 0.7rem;
    }

    footer .container {
        /* border:solid 3px blue; */
        width: 100%;
        display: flex;
        flex-flow: wrap;
        padding: 1.5rem;

        /* flex-flow: wrap column; media-queries */ 

    }

    footer .about-us {
        /* border:solid 3px grey; */
        width: 30%;
        padding: 0.7rem;
    }

    footer .contact {
        /* border:solid 3px lawngreen; */
        width: 30%;
        padding: 0.7rem;
    }

    footer .social-media {
        /* border:solid 3px pink; */
        width: 30%;
        text-decoration: none;
        list-style: none;
        padding: 0.7rem;

    }

    footer .copyright {
        /* border: solid 3px green; */
        width: 100%;
        padding-top: 1rem;
        text-align: center;
    }





