
/* SHOP */
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    padding: 0px 10px;
  }

.woocommerce .content-area{
    padding:4rem;
}

.woocommerce ul.products li.product{
    border: 1px solid rgb(221, 221, 221);
    color: white;
    padding: 12px;
}

.woocommerce-loop-product__title {
    color:rgb(88, 88, 88);
}

.woocommerce ul.products li.product .button {
    background-color: grey;
    color: white;
    border-radius: 30px;
}

.woocommerce ul.products .onsale {
    background-color: darkred;
    border-radius: 1px;
}


/* SINGLE PRODUCT PAGE */

.woocommerce figure img {
    border: lightgrey 1px solid;
}

.woocommerce span.onsale {
    background-color: darkred;
    border-radius: 1px;
}

.woocommerce  .summary .price {
    padding: 30px 0px 60px;
}

.woocommerce .variations_form {
    border: 1px solid rgb(221, 221, 221);
    padding:20px;
}

.woocommerce .quantity {
    color: grey;
}

.woocommerce  .quantity  button{
    background-color: darkgrey;
    border-radius: 1px;
}


/* Blogg */

.woocommerce .blogg article {
    border: 1px solid darkgrey;
    width: 50vw;
    padding: 5%;
    margin: 5% 25%;
}

.woocommerce .blogg article img {
    width: 100%;
}

.woocommerce .blogg article .title{
    text-decoration: none;
    color: rgb(68, 68, 68);
    padding: 5% 0%;   
}

.wp-block-buttons {
    padding: 5% 0%;   
}

.woocommerce .blogg .navigation {
    text-align: center;
    margin-bottom: 20px;
}

/* Butiker/Karta */

.woocommerce iframe {
    margin: 5% 10%;
    width: 80%;
}

/* Mitt konto  */
.woocommerce .woocommerce ul {
    border: solid 1px lightgrey;
    padding:3px;
}
.woocommerce .woocommerce ul li {
    border: lightgrey 1px lightgrey;
    padding:3px;
    margin: 5px;
}

.woocommerce-notices-wrapper{
    border: lightgrey 1px lightgrey;
    padding:3px;
    margin: 15px;
}

.woocommerce form input {
    border: solid 1px lightgrey;
    padding:10px;
    margin: 10px 0px 20px;
}

.woocommerce form #searchform{
    width: 50%;
}

.woocommerce .woocommerce-MyAccount-content {
    margin: 5%;
}


/* kontakta oss */

.woocommerce .wpforms-container .wpforms-field-container, .woocommerce .wpforms-container .wpforms-submit-container {
    border: lightgrey 1px lightgrey;
    padding:3px;
    margin: 15%;
}

/* search results */

.woocommerce #primary #primary article {
    border: lightgrey solid 1px;
    width: 70%;
    margin: 5% 15%;
    padding: 20px;
}

.woocommerce #primary #primary ul{
    list-style: inside none;
}