* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin:5% 0%;
  text-align: center;
}

h2 {
  margin:5% 2%;
  text-align: center;
}

h4 {
    font-family: 'PT Mono', monospace;
}

input {
  border: 1px solid grey;
}
  
  .navbar {
    /* border:coral 3px solid; */
    background: white;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: solid black 2px;
    flex-wrap: wrap;
  }
  
  .navbar__container {
    /* border: 3px solid blue; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    z-index: 1;
    width: 100%;
    text-align: center;
  }
  
  .navlogo-text {
    /* border: 3px solid red; */
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  #navbar__logo {
    /* border: 3px solid yellow; */
    background-color: black;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 30px;
    width: 100%;
  }
  
  .navbar__menu {
    /* border: 3px solid lightblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0px 20px;
  }

  .title__menu >li{
    /* border: 3px green solid; */
    list-style: none;
    width: auto;
    text-align: left;
  }

  .title__menu >li >a{
   font-size:2rem;
   margin-left: 30px;
   list-style: none;
  }

  .menu-item {
    height: 80px;
  }
  
  .menu-item > a{ 
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  
  .navbar__links:hover {
    color: #9518fc;
    transition: all 0.3s ease;
  }

  #sidebar {
    display:none;
  }

  #primary {
    width:100%;
  }

  @media screen and (max-width: 1100px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: white;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 60vh;
      font-size: 1.6rem;
      border: black 2px;
    }
  
    #navbar__logo {
      padding-left: 25px;
    }
  
    .navbar__toggle {
        margin-top: 7px;
    }

    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px;

      transition: all 0.2s ease-in-out;
      background: black;
    }
  
    .navbar__item {
      width: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar__btn {
      padding-bottom: 2rem;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(55deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-55deg);
    }
  }
    
.main {
  display: flex;
}

.primary {
  width: 80%;
}

#secondary {
  width: 20%;
  top: 120px;
}

/*Author in sidebar */
.rpwwt-post-author {
  color: red;
}

/*Post date in sidebar*/
.rpwwt-post-date {
  color: peru;
}

/*Comments in sidebar*/
.rpwwt-post-comment-number {
  color: green;
}

.rules-container {
  margin-left: 10%;
  margin-right: 10%;
}