





* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font-family: 'PT Mono', monospace;
}
  
  .navbar {
    border: 3px solid red;
    background: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border: solid black 2px;
  }
  
  .navbar__container {
    border: 3px solid red;

    display: flex;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
    width: 100%;
    max-width: 3000px;
  }
  
  .img-logo {
    border: 3px solid yellow;

      height: 50%;
      padding: 10px;
  }

  #navbar__logo {
    border: 3px solid blue;

    background-color: black;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .navbar__menu {
    border: 3px solid green;

    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .page_item {
    height: 80px;
  }
  
  .page_item > a{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 50vw;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #3a3cb4;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .navbar__links:hover {
    color: #9518fc;
    transition: all 0.3s ease;
  }

  #sidebar {
    display:none;
  }

  #primary {
    width:100%;
  }